.loading-wheel {
    display: block;
    width: 50px;
    margin: 16px auto 0;
    animation: spin;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}