.content {
    position: relative;
}

.edit-shortcuts,
.edit-tabs {
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}